[submodule "ModelingAndSimulation/python_debug"]
	path = ModelingAndSimulation/python_debug
	url = https://github.com/evandrocoan/PythonDebugTools
[submodule "SoftwareTesting/Libraries"]
	path = SoftwareTesting/Libraries
	url = https://github.com/evandrocoan/SoftwareTestingLibraries
[submodule "OperatingSystems/EposAsynchronousCriticalSections"]
	path = OperatingSystems/EposAsynchronousCriticalSections
	url = https://github.com/evandrocoan/EposAsynchronousCriticalSections
[submodule "OperatingSystems/EposSmartObjects"]
	path = OperatingSystems/EposSmartObjects
	url = https://github.com/evandrocoan/EposSmartObjects
