# Ignore the svn stuff
.svn

# Compilation cache file
.epos_flag_file.txt

/bin/**
/app/*_traits.h
/tools/eposmkbi/eposmkbi

/src/boot/pc_boot
/src/setup/pc_setup

/etc/eposcc.conf
/etc/eposmkbi.conf

/app/philosophers_dinner
/app/epos.test
